<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Stanley Mohr</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #4d4d4d;
        }

        #app {
            background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
            background-color: #4d4d4d;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
        }

        .copyright-footer {
            background-color: #4d4d4d;
            color: white;
        }

        [v-cloak] {
            display: none;
        }

        .home-page-link {
            color: white;
            text-decoration: none;
            border: none;
            background-color: black;
            padding: 14px 25px;
            display: inline-block;
            border-radius: 5px;
        }

        .home-page-link:hover {
            color: white;
            text-decoration: none;
            background-color: #4d4d4d;
        }

        .home-page-link:active {
            background-color: #4d4d4d;
            color: white;
            text-decoration: none;
        }

        .home-page-link-text {
            color: black;
            text-decoration: none;
            border: none;
            padding: 14px 25px;
            display: inline-block;
            border-radius: 5px;
        }

        .home-page-link-text:hover {
            color: white;
            text-decoration: none;
        }

        .home-page-link-text:active {
            color: white;
            text-decoration: none;
        }


        .page-link {
            color: #86C232;
            text-decoration: none;
            border: none;
            background-color: white;
        }

        .page-link:hover {
            color: #61892F;
            text-decoration: none;
            background-color: white;
        }

        .page-link:active {
            background-color: white;
            color: #61892F;
            text-decoration: none;
        }

        .language-thumbnail {
            height: 30px;
            width: auto;
            margin-right: 5px;
            float: left;
        }

        .fade-enter-active, .fade-leave-active {
            transition: opacity .25s ease;
        }

        .fade-enter-from, .fade-leave-to {
            opacity: 0;
        }

    </style>
</head>
<body>
<div id="app" v-cloak>
    <!--
    <p>
        <router-link to="/">Go to Home</router-link>
        <router-link to="/about">Go to About</router-link>
    </p> -->
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view v-slot="{ Component }">
        <transition appear name="fade">
            <component :is="Component" />
        </transition>
    </router-view>
</div>
<footer class="copyright-footer">
    <p class="text-center mt-2 mb-1">Built with <a style="color: white; text-decoration: none" href="https://v3.vuejs.org/">Vue.js <img width="auto" height="15px" src="https://i.imgur.com/qwp7jvg.png" alt="Vue.js"></a></p>
    <p class="text-center mb-2">Copyright &copy; Stanley Mohr</p>
</footer>
<!-- Bootstrap and Vuejs -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/vue-router@4"></script>

<script>
    const Landing = {
        template:
            `<header>
                <div class="container">
                    <title-component></title-component>
                    <about-me></about-me>
                    <proficiencies-section></proficiencies-section>
                    <projects-section></projects-section>
                </div>
            </header>
    ` }
    const About = {
        template: `
            <div class="row justify-content-center">
                   <div class="col-md-8 py-3 text-center">
                        <h2>About Page</h2>
                        <router-link class="home-page-link-text" to="/">Go to Home</router-link>
                    </div>
            </div>
    `}
    const Home = {
        template: `
            <div class="container-fluid">
                <div class="row justify-content-center" style="padding-top: 7rem; padding-bottom: 7rem">
                <title-name></title-name>
                <title-photo></title-photo>
                </div>
            </div>
        `
    }

    const Portfolio = {
        data () {
            return {
                posts: [
                    {
                        id: 0,
                        title: 'Product Landing Pages',
                        type: 'Freelance Development',
                        text: 'Build landing pages for Frey Municipal Software products to be used a click through landing page for paid media or email advertising.',
                        image: 'https://i.imgur.com/KZFkpwa.png',
                        profic: ['https://seeklogo.com/images/H/html5-logo-EF92D240D7-seeklogo.com.png', 'https://seeklogo.com/images/C/css-3-logo-AF06D75231-seeklogo.com.png', 'https://seeklogo.com/images/B/bootstrap-5-logo-85A1F11F4F-seeklogo.com.png']
                    }
                ]
            }
        },
        template: `
        <div class="container" style="padding-top: 4rem; padding-bottom: 4rem">
            <portfolio-header></portfolio-header>
            <portfolio-post
                v-for="post in posts"
                :title = 'post.title'
                :type = 'post.type'
                :text = 'post.text'
                :image = 'post.image'
                :profic = 'post.profic'
                :key = 'post.id'
            ></portfolio-post>
        </div>
        `
    }

    const routes = [
        { path: '/', component: Home },
        { path: '/about', component: About },
        { path: '/landing', component: Landing },
        { path: '/portfolio', component: Portfolio },
    ]

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes,
    })

    const app = Vue.createApp({})

    app.component('title-name', {
        data() {
            return {
                name: 'Stanley Mohr',
                description: "I'm a Full Stack and Software Developer"
            }
        },
        template: `

        <div class="col-md-4 align-self-center">
              <h1 class="fs-4">I'm {{ name }}.</h1>
              <h2 class="fs-1 fw-bold">
                {{ description }}
              </h2>
              <div>
                <a class="me-2" href="https://github.com/SMCSBeavers"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg></a>
                <a class="me-2" href="https://twitter.com/StanleyMohr"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                </svg></a>
                <a href="mailto: stanleymohr@icloud.com"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg></a>
              </div>
              <div class="mt-3">
                <router-link class="home-page-link" to="/portfolio">My Portfolio</router-link>
                <router-link class="home-page-link-text" to="/about">Learn More</router-link>
              </div>
        </div>
        `
        }
    )

    app.component('title-photo', {
            data() {
                return {
                    imageLink: 'https://pngimg.com/uploads/gorilla/gorilla_PNG18715.png'
                }
            },
            template: `

        <div class="col-md-4 align-self-center text-center">
              <img :src="imageLink" class="img-fluid" alt="an image">
        </div>

        `
        }
    )

    app.component('portfolio-header', {
        data() {
            return {
                image: 'https://i.imgflip.com/149j18.jpg'
            }
        },
        template: `
          <div class="row justify-content-center">
              <div class="col-md-8">
                <h2 class="text-center">My Work and Projects</h2>
                <router-link class="home-page-link-text" to="/">Back to Home</router-link>
              </div>
          </div>
        `
    })

    app.component('portfolio-post', {
        props: ['title', 'type', 'text', 'image', 'profic'],
        template: `
        <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card mb-3 mx-1" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text"><small class="text-muted">{{ type }}</small></p>
                      <h5 class="card-title">{{ title }}</h5>
                      <p class="card-text">{{ text }}</p>
                      <div class="card-text"
                        v-for="item in profic"
                         :item="item.profic"
                      ><img class="language-thumbnail" :src="item" alt="proficiency"></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img :src="image" class="img-fluid rounded-end px-3 py-3" alt="...">
                  </div>
                </div>
              </div>
            </div>
        </div>
        `
    })

    /* OLD PROTOTYPE */

    app.component('title-component',{
        data() {
            return {
                name: 'Stanley Mohr',
                role: 'Software Developer'
            }
        },
        template: `
          <div class="row justify-content-center" style="padding-top: 2rem; padding-bottom: .05rem">
              <div class="col-md-6">
                  <h1 class="text-center fw-bold">{{ name }}</h1>
              </div>
          </div>
          <div class="row justify-content-center" style="padding-bottom: 4rem">
              <div class="col-md-6">
                  <h5 class="text-center">{{ role }}</h5>
              </div>
          </div>
        `
    })

    app.component('about-me', {
        data() {
            return {
                aboutText: 'Currently, I am a Computer Science student at Oregon State University graduating in Winter 2021. I specialize in full stack development and database management.'
            }
        },
        template: `
          <div class="row justify-content-center">
              <div class="col-md-6">
                <h6 class="px-4 fw-bold">About</h6>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-6">
                  <p class="px-4">{{ aboutText }}</p>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-6 text-center" style="padding-bottom: 1rem">
                 <router-link class="page-link" to="/about">Learn more</router-link>
              </div>
          </div>
        `
    })

    app.component('proficiencies-section', {
        data() {
            return {
                vueLogo: 'https://i.imgur.com/qwp7jvg.png',
                jsLogo: 'https://seeklogo.com/images/J/javascript-js-logo-2949701702-seeklogo.com.png',
                pythonLogo: 'https://seeklogo.com/images/P/python-logo-A32636CAA3-seeklogo.com.png',
                sqlLogo: 'https://seeklogo.com/images/M/mysql-logo-69B39F7D18-seeklogo.com.png',
                cLogo: 'https://seeklogo.com/images/C/c-logo-672525892C-seeklogo.com.png',
                cPlusLogo: 'https://seeklogo.com/images/C/c-logo-43CE78FF9C-seeklogo.com.png',
                nodeLogo: 'https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png',
                javaLogo: 'https://seeklogo.com/images/J/java-logo-7833D1D21A-seeklogo.com.png'
            }
        },
        template: `
          <div class="row justify-content-center">
              <div class="col-md-6 pb-1">
                <h6 class="px-4 fw-bold">My Proficiencies</h6>
              </div>
          </div>
          <div class="row justify-content-center" style="padding-bottom: 4rem">
              <div class="col-md-6 text-center">
                    <img class="language-thumbnail" :src="pythonLogo" alt="python">
                    <img class="language-thumbnail" :src="jsLogo" alt="js">
                    <img class="language-thumbnail" :src="vueLogo" alt="vue.js">
                    <img class="language-thumbnail" :src="nodeLogo" alt="node">
                    <img class="language-thumbnail" :src="sqlLogo" alt="sql">
                    <img class="language-thumbnail" :src="cLogo" alt="c">
                    <img class="language-thumbnail" :src="cPlusLogo" alt="c++">
                    <img class="language-thumbnail" :src="javaLogo" alt="java">
              </div>
          </div>
        `
    })

    app.component('projects-section', {
        data() {
            return {
                projects: [
                    {
                        id: 0,
                        title: 'Product Landing Pages',
                        client: 'Frey Municipal Software',
                        type: 'Freelance Development',
                        text: 'Build landing pages for Frey Municipal Software products to be used a click through landing page for paid media or email advertising.',
                        image1: 'https://i.imgur.com/KZFkpwa.png',
                        image2: 'https://i.imgur.com/bS2CEet.png'
                    }
                ]
            }
        },
        template: `
          <div class="row justify-content-center">
              <div class="col-md-6">
                <h6 class="px-4 fw-bold pb-4">My Work</h6>
              </div>
          </div>
          <project-component
            v-for="project in projects"
            :title = 'project.title'
            :client = 'project.client'
            :image1 = 'project.image1'
            :image2 = 'project.image2'
            :text = 'project.text'
            :type = 'project.type'
            :key = 'project.id'
            ></project-component>
        `
    })

    app.component('project-component', {
        props: ['title', 'type', 'client', 'image1','image2', 'text'],
        template: `
          <div class="row justify-content-center mx-2 mb-3">
              <div class="col-md-6" style="border-radius: 5px; background-color:lightgray ">
              <p class="pt-2" style="color: gray">{{ type }}</p>
                <h5 class="mx-2 text-center fw-bold py-1">{{ title }}</h5>
                <h6 class="text-center pb-2" style="color: gray">{{ client }}</h6>
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img :src="image1" style="max-height: 300px" class="img-fluid mx-auto d-block" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img :src="image2" style="max-height: 300px" class="img-fluid mx-auto d-block" alt="...">
                      </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <p class="mx-2 pt-2">{{ text }}</p>
              </div>
          </div>
        `
    })

    app.use(router)
    const vm = app.mount('#app')


</script>

</body>
</html>
