<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Stanley Mohr</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #4d4d4d;
        }

        #app {
            background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
            background-color: #4d4d4d;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
        }

        .copyright-footer {
            background-color: #4d4d4d;
            color: white;
        }

        [v-cloak] {
            display: none;
        }

        .home-page-link {
            color: white;
            text-decoration: none;
            border: none;
            background-color: black;
            padding: 14px 25px;
            display: inline-block;
            border-radius: 5px;
        }

        .home-page-link:hover {
            color: white;
            text-decoration: none;
            background-color: #4d4d4d;
        }

        .home-page-link:active {
            background-color: #4d4d4d;
            color: white;
            text-decoration: none;
        }

        .home-page-link-text {
            color: black;
            text-decoration: none;
            border: none;
            padding: 14px 25px;
            display: inline-block;
            border-radius: 5px;
        }

        .home-page-link-text:hover {
            color: white;
            text-decoration: none;
        }

        .home-page-link-text:active {
            color: white;
            text-decoration: none;
        }

        .site-page-link {
            color: white;
            text-decoration: none;
            font-size: 14px;
            border: none;
            background-color: black;
            padding: 5px 15px;
            float: left;
            border-radius: 5px;
        }

        .site-page-link:hover {
            color: white;
            text-decoration: none;
            background-color: #4d4d4d;
        }

        .site-page-link:active {
            background-color: #4d4d4d;
            color: white;
            text-decoration: none;
        }

        .language-thumbnail {
            height: 30px;
            width: auto;
            margin-right: 5px;
            float: left;
        }

        .fade-enter-active, .fade-leave-active {
            transition: opacity .25s ease;
        }

        .fade-enter-from, .fade-leave-to {
            opacity: 0;
        }

    </style>
</head>
<body>
<div id="app" v-cloak>
    <!--
    <p>
        <router-link to="/">Go to Home</router-link>
        <router-link to="/about">Go to About</router-link>
    </p> -->
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view v-slot="{ Component }">
        <transition appear name="fade">
            <component :is="Component" />
        </transition>
    </router-view>
</div>
<footer class="copyright-footer">
    <p class="text-center mt-2 mb-1">Built with <a style="color: white; text-decoration: none" href="https://v3.vuejs.org/">Vue.js <img width="auto" height="15px" src="https://i.imgur.com/qwp7jvg.png" alt="Vue.js"></a></p>
    <p class="text-center mb-2">Copyright &copy; Stanley Mohr</p>
</footer>
<!-- Bootstrap and Vuejs -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/vue-router@4"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>

<script>
    const About = {
        data() {
            return {
                pageTitle: 'About Me'
            }
        },
        template: `
          <div class="container" style="padding-top: 4rem; padding-bottom: 4rem">
              <page-header :pageTitle="pageTitle"></page-header>
              <about-component></about-component>
          </div>
    `}

    const Home = {
        template: `
            <div class="container-fluid">
                <div class="row justify-content-center" style="padding-top: 4rem; padding-bottom: 4rem">
                <title-name></title-name>
                <title-photo></title-photo>
                </div>
            </div>
        `
    }

    const Portfolio = {
        data() {
            return {
                pageTitle: 'My Work and Projects',
                posts: [
                    {
                        id: 0,
                        title: 'Product Landing Pages',
                        project: 'Frey Municipal Software',
                        type: 'Freelance Development',
                        text: 'Built landing pages for Frey Municipal Software products to be used a click through landing page for paid media or email advertising.',
                        image: 'https://i.imgur.com/KZFkpwa.png',
                        link: 'https://www.freymunicipalsoftware.com/CUBIC_landing_page',
                        date: '2021-07-16T19:03:57.000Z',
                        profic: ['https://seeklogo.com/images/H/html5-logo-EF92D240D7-seeklogo.com.png', 'https://seeklogo.com/images/C/css-3-logo-AF06D75231-seeklogo.com.png', 'https://seeklogo.com/images/B/bootstrap-5-logo-85A1F11F4F-seeklogo.com.png']
                    }
                ]
            }
        },
        template: `
        <div class="container" style="padding-top: 4rem; padding-bottom: 4rem">
            <page-header :pageTitle="pageTitle"></page-header>
            <portfolio-post
                v-for="post in posts"
                :title = 'post.title'
                :type = 'post.type'
                :text = 'post.text'
                :image = 'post.image'
                :profic = 'post.profic'
                :link = 'post.link'
                :project = 'post.project'
                :date = 'post.date'
                :key = 'post.id'
            ></portfolio-post>
        </div>
        `
    }

    const routes = [
        { path: '/', component: Home },
        { path: '/about', component: About },
        { path: '/portfolio', component: Portfolio },
    ]

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes,
    })

    const app = Vue.createApp({})

    app.component('title-name', {
        data() {
            return {
                name: 'Stanley Mohr',
                description: "I'm a Full Stack and Software Developer"
            }
        },
        template: `
        <div class="col-md-4 align-self-center">
              <h1 class="fs-4">I'm {{ name }}.</h1>
              <h2 class="fs-1 fw-bold">
                {{ description }}
              </h2>
              <div>
                <a class="me-2" href="https://github.com/SMCSBeavers"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg></a>
                <a class="me-2" href="https://twitter.com/StanleyMohr"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                </svg></a>
                <a href="mailto: stanleymohr@icloud.com"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg></a>
              </div>
              <div class="mt-3">
                <router-link class="home-page-link" to="/portfolio">My Portfolio</router-link>
                <router-link class="home-page-link-text" to="/about">Learn More</router-link>
              </div>
        </div>
        `
        }
    )

    app.component('title-photo', {
            data() {
                return {
                    imageLink: 'https://pngimg.com/uploads/gorilla/gorilla_PNG18715.png'
                }
            },
            template: `

        <div class="col-md-4 align-self-center text-center">
              <img :src="imageLink" class="img-fluid" alt="an image">
        </div>

        `
        }
    )

    app.component('page-header', {
        props: ['pageTitle'],
        template: `
          <div class="row justify-content-center">
              <div class="col-md-8">
                <h2 class="text-center">{{ pageTitle }}</h2>
                <router-link class="home-page-link-text" to="/">Back to Home</router-link>
              </div>
          </div>
        `
    })

    app.component('portfolio-post', {
        props: ['title', 'type', 'project', 'text', 'link', 'image', 'profic', 'date'],
        template: `
        <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card mb-3 mx-1" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text"><small class="text-muted">{{ type }}</small></p>
                      <h5 class="card-title">{{ title }}</h5>
                      <h6 class="card-title text-muted">{{ project }}</h6>
                      <p class="card-text">{{ text }}</p>
                      <div class="card-text"
                        v-for="item in profic"
                         :item="item.profic"
                      ><img class="language-thumbnail" :src="item" alt="proficiency"></div>
                      <a class="site-page-link" :href="link"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="white" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                      </svg> Visit Site</a>
                    </div>
                    <br>
                  </div>
                  <div class="col-md-4">
                    <img :src="image" class="img-fluid rounded-end px-3 py-3" alt="...">
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <p class="card-text"><small class="text-muted">{{ dateConvert(date) }}</small></p>
                </div>
              </div>
            </div>
        </div>
        `,
        methods: {
            dateConvert(date) {
                return moment(this.date).format('LL');
            }
        }
    })

    app.component('about-component', {
        data() {
            return {
                image: 'https://i.imgur.com/e5Hrhxz.jpg',
                textArr: [
                    { paragraph: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut scelerisque lorem. In a condimentum nibh. Nunc et velit efficitur nulla semper sodales non sit amet dui. Morbi suscipit vel magna ut lobortis. Proin iaculis sollicitudin molestie. Sed condimentum ex nisl, sed consectetur sem euismod sed. Duis pretium gravida sapien, nec eleifend odio sodales quis. Nam fringilla commodo condimentum. Cras varius, lacus sed vehicula commodo, turpis ex tincidunt urna, vel viverra elit ex pulvinar tortor. Maecenas ornare ornare lacus, at viverra elit venenatis ornare.'},
                    { paragraph: 'Aliquam blandit ex et suscipit vehicula. Praesent consectetur viverra fermentum. In et interdum massa, quis dignissim metus. Vestibulum quam leo, luctus placerat tortor vel, lobortis mattis felis. Sed vitae lectus quis dolor cursus imperdiet at in erat. Aliquam lacinia lorem rutrum augue luctus, non placerat metus cursus. Quisque vitae mi ac lorem condimentum tincidunt et in nunc. Suspendisse fermentum sapien eget egestas efficitur. Aenean malesuada luctus turpis, vel tempus urna pharetra scelerisque. Suspendisse commodo maximus luctus. Duis fermentum cursus ex nec placerat. In ac malesuada mauris, imperdiet scelerisque arcu. Nunc in aliquet augue.'}
                ]
            }
        },
        template: `
        <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card mb-3 mx-1" style="max-width: 800px;">
                <img :src="image" style="border-radius: 50%; width: 150px" class="img-fluid mx-auto mt-3" alt="my image">
                <div class="card-body"
                     v-for="paragraph in textArr"
                     :text="paragraph"
                     :key="paragraph.paragraph"
                ><p class="card-text" style="text-indent: 30px;">{{ paragraph.paragraph }}</p>
                </div>
              </div>
            </div>
        </div>
        `
    })

    /* OLD PROTOTYPE */

    app.component('proficiencies-section', {
        data() {
            return {
                vueLogo: 'https://i.imgur.com/qwp7jvg.png',
                jsLogo: 'https://seeklogo.com/images/J/javascript-js-logo-2949701702-seeklogo.com.png',
                pythonLogo: 'https://seeklogo.com/images/P/python-logo-A32636CAA3-seeklogo.com.png',
                sqlLogo: 'https://seeklogo.com/images/M/mysql-logo-69B39F7D18-seeklogo.com.png',
                cLogo: 'https://seeklogo.com/images/C/c-logo-672525892C-seeklogo.com.png',
                cPlusLogo: 'https://seeklogo.com/images/C/c-logo-43CE78FF9C-seeklogo.com.png',
                nodeLogo: 'https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png',
                javaLogo: 'https://seeklogo.com/images/J/java-logo-7833D1D21A-seeklogo.com.png'
            }
        },
        template: `
          <div class="row justify-content-center">
              <div class="col-md-6 pb-1">
                <h6 class="px-4 fw-bold">My Proficiencies</h6>
              </div>
          </div>
          <div class="row justify-content-center" style="padding-bottom: 4rem">
              <div class="col-md-6 text-center">
                    <img class="language-thumbnail" :src="pythonLogo" alt="python">
                    <img class="language-thumbnail" :src="jsLogo" alt="js">
                    <img class="language-thumbnail" :src="vueLogo" alt="vue.js">
                    <img class="language-thumbnail" :src="nodeLogo" alt="node">
                    <img class="language-thumbnail" :src="sqlLogo" alt="sql">
                    <img class="language-thumbnail" :src="cLogo" alt="c">
                    <img class="language-thumbnail" :src="cPlusLogo" alt="c++">
                    <img class="language-thumbnail" :src="javaLogo" alt="java">
              </div>
          </div>
        `
    })

    app.use(router)
    const vm = app.mount('#app')


</script>

</body>
</html>
